name: CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  uv-version: "0.9.26"

jobs:
  test:
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.13"
          - "3.14"
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.uv-version }}
      - name: Test with Nox
        run: >-
          uv run --locked --only-group nox nox -s
          test-${{ matrix.python }}
          test_fastapi-${{ matrix.python }}
          test_numpy-${{ matrix.python }}
          test_ordered_set-${{ matrix.python }}
      - name: Store coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ matrix.python }}
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: error        

  coverage:
    needs: test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.uv-version }}
      - name: Fetch coverage
        uses: actions/download-artifact@v7
        with:
          pattern: coverage-*
          merge-multiple: true
      - name: Combine coverage and generate report
        run: uv run --locked nox -s coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.uv-version }}
      - name: Run code quality checks
        run: uv run --locked nox -s lint

  typecheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.uv-version }}
      - name: Run type checking
        run: uv run --locked nox -s typecheck
